{% extends "base.html.j2" %}
{% block content %}
  <div class="row mt-5 pt-4">
    <div class="col-sm">
      <h1>Edit Blog - {{ blog.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}