{% extends "base.html.j2" %}
{% block content %}
  <div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ entry.headline }}</h5>
        <p class="card-text">{{ entry.pub_date | date }}</p>
        <form method="post">{% csrf_token %}
          <p>Are you sure you want to delete "{{ object }}"?</p>
          {{ form }}
          <input type="submit" value="Confirm">
        </form>
       </div>
    </div>
  </div>
{% endblock %}