{% extends "base.html.j2" %}
{% block content %}
  <div class="row mt-5 pt-4">
    <div class="col-sm">
    {% if blog %}
      <h1>Entries - {{ blog.name }}
        {% if perms.blog.add_entry %}
          <a href="{% url 'blog:entry_create' blog.pk %}" class="btn btn-primary">Create Entry</a>
        {% endif %}
      </h1>
      {% else %}
      <h1> Entries - {{ author.name }}</h1>
      {% endif %}
    </div>
  </div>
  <div class="row">
  {% for entry in page_obj %}
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ entry.headline }}</h5>
        <p class="card-text">{{ entry.pub_date | date }}</p>
        <a href="{% url 'blog:entry_details' entry.blog.pk entry.pk %}" class="btn btn-primary">View entry</a>
      </div>
    </div>
  </div>
  {% empty %}
    <div class="col-sm">
      <h1 class="mt-5">There are currently no entries available</h1>
    </div>
  </div>
  {% endfor %}
  </div>
  <div class="row pagination">
    <div class="col-sm">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
</div>
{% endblock %}